body {
    margin: 0;
    overflow: hidden;
}
body * {
    box-sizing: border-box;
}
#background, #backgroundb {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#background {
    background-image: url(../images/background.jpg);
    z-index: -1;
}
#backgroundb {
    background-image: url(../images/backgroundb.jpg);
    z-index: -2;
}
#next {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    padding: 7% 0;
    opacity: 0;
    z-index: -1;
    overflow: scroll;
}
#preview {
    height: 5vh;
    width: 30%;
    margin-top: 5%;
    border: none;
    border-radius: 3.5vh;
    box-shadow: 0 0.5rem 2rem #000000;
    background: #e5e5e5;
}
#preview img {
    height: 50%;
    vertical-align: middle;
}
#preview:focus,
#preview:active {
    outline: none;
}
#text-name {
    display: none;
}
.container {
    width: 100%;
    margin: auto;
}
.container.back {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.container.buttons {
    margin-top: 5%;
}
.container-checkbox {
    margin: 5% auto 0;
    width: 80%;
    text-align: left;
}
.container-list {
    margin: 0 auto;
    width: 80%;
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-title {
    margin: 7% auto;
    font-family: 'Montserrat', sans-serif;
}
.text-subtitle {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
.text-inline {
    font-family: 'Raleway', sans-serif;
}
.text-inline-thin {
    font-family: 'Open Sans', sans-serif;
}
.text-large {
    letter-spacing: 0.3rem;
    font-size: 1rem;
}
.text-light {
    color: #e5e5e5;
}
.text-upper {
    letter-spacing: 0.2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.text-sub-upper {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.logo {
    width: 50%;
    margin: 5%;
    border-radius: 50%;
    box-shadow: 0 0 2rem #000000;
}
.button {
    height: 7vh;
    width: 40%;
    margin-top: 5%;
    border: none;
    border-radius: 3.5vh;
    box-shadow: 0 0.5rem 2rem #000000;
}
.button:active,
.button:focus {
    outline: none;
}
.button.colored {
    background: #FEC200;
}
.button.grayed {
    background: #b2b2b2;
    color: #333333;
}
.two-button {
    margin-right: 5%;
}
.input {
    margin: 5% 0;
    padding: 0 2%;
    outline: none;
}
.input-text {
    height: 6vh;
    background: #e5e5e5;
    border-radius: 3vh;
    border: none;
    text-align: center;
    outline: none;
}
.input-thin {
    width: 80%;
}
.input-large {
    width: 100%;
}

@media (orientation: portrait) and (min-width: 768px) {
    .logo {
        width: 40%;
    }
    .button {
        width: 30%;
        margin-top: 0;
    }
    .text-large {
        font-size: 1.5rem;
    }
    .text-subtitle {
        font-size: 1.5rem;
    }
    .text-inline, .text-inline-thin {
        font-size: 1.2rem;
    }
    .input-thin {
        width: 60%;
    }
    .input-text {
        height: 5vh;
        border-radius: 2.5vh;
    }
    .container-list, .container-checkbox {
        width: 60%;
    }
    #preview {
        width: 20%;
    }
}

@media (orientation: portrait) and (min-width: 896px) {
    .logo {
        width: 35%;
    }
    .text-upper {
        font-size: 1rem;
    }
}

@media (orientation: landscape) {
    .logo {
        width: 20%;
        margin: 2%;
    }
    .text-title {
        margin: 1% auto;
    }
    .button {
        margin-top: 2%;
        height: 10vh;
        width: 20%;
        border-radius: 5vh;
    }
    .input {
        margin: 2% 0;
    }
    .input-text {
        height: 10vh;
        border-radius: 5vh;
    }
    .input-thin {
        width: 60%;
    }
    .container-checkbox {
        margin: 2% auto 0;
        width: 60%;
    }
    .container-list {
        width: 60%;
    }
    .container.buttons {
        margin-top: 2%;
    }
    #preview {
        height: 7vh;
        width: 15%;
        margin-top: 2%;
    }
}

@media (orientation: landscape) and (min-width: 896px) {
    .logo {
        width: 60%;
    }
    .container {
        width: 60%;
        margin: auto;
    }
    .container-two {
        width: 50%;
        float: left;
    }
    .container-checkbox {
        margin: 5% auto 0;
    }
    .container.one-button, .container.buttons {
        margin: 0 auto;
        float: left;
    }
    .container.buttons .button {
        width: 20%;
    }
    .text-title {
        margin: 10% auto;
    }
    .text-subtitle {
        margin-bottom: 2%;
    }
    .text-two-large {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .button {
        margin-top: 5%;
        height: 7vh;
        width: 40%;
        border-radius: 3.5vh;
    }
    .input {
        margin: 5% 0;
    }
    .input-text {
        height: 6vh;
        border-radius: 3vh;
    }
    #preview {
        height: 5vh;
        width: 10%;
    }
    #next {
        padding: 5% 0;
        overflow: hidden;
    }
    #next .container {
        width: 100%;
    }
    #text-name {
        display: block;
    }
}

@media (orientation: landscape) and (min-width: 1440px) {
    .logo {
        width: 40%;
    }
    .button {
        margin-top: 0;
    }
    .input {
        margin: 3% 0;
    }
    #preview {
        margin-bottom: 3%;
    }
}
